@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
    font-family: 'Montserrat', sans-serif;
}

body {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9ebe7;
    color: #0b1f32;
    @media only screen and (min-width: 576px) {
        height: 100vh;
    }
}

a {
    text-decoration: none;
    color: #f01952;
    &:hover {
        color: #3fcf76;
    }
}

strong {
    font-weight: 600;
    &:hover {
        background-color: #0b1f32;
    }
}

.hero {
    width: 75%;
    margin: 3rem auto;
    @media only screen and (min-width: 576px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    & > div {
        margin-top: 3rem;
        @media only screen and (min-width: 576px) {
            max-width: 37rem;
            margin-left: 1rem;
        }
    }
    h1 {
        font-size: 1.935rem;
        font-weight: 600;
    }
    p {
        margin: 1.5rem 0;
        line-height: 2rem;
    }
    img {
        max-width: 300px;
        width: 90%;
        border-radius: 50%;
        height: auto;
        box-shadow: 0 50px 100px -75px #0b1f32;
        @media only screen and (min-width: 576px) {
            width: 30%;
        }
    }

    .cta {
        display: flex;
        justify-content: space-between;
        color: #f01952;
        font-size: 1.563rem;
        ul {
            list-style: none;
        }
        li {
            padding: 0.25rem;
            border-radius: 1rem;
            @media only screen and (min-width: 576px) {
                padding: 1rem;
            }
            &:hover {
                color: #60adfb;
                box-shadow: 0 5px 10px -8px #0b1f32;
            }
        }
        .skills {
            display: flex;
        }
        .contact {
            display: flex;
        }
    }
}